.prnt-footer {background-color: black; display: flex; justify-content: center; }
.footer { background-color: black;   }
.first-content { display:flex; }
* { color: white; }
.dcr {  text-align: left; margin-top: 10px; word-spacing: 2px; }
.p-2 { text-decoration: none; color: white;  }
.dct { margin-top: 0px !important; }
.c-1 { margin-top: 30px ; }
.c-2 { margin-top: 40px; }
.c-2 li { margin-bottom: 10px; list-style-type: none;}
.diffr { margin-top: 130px !important; }
.icons { display: flex; }
.dft { position: relative; bottom: 80px; left: 20px; }
.vito { width: 30px; height: 30px; margin-right: 10px; }
.main-icons { display: flex; }
.icons { width: 30px; background-color: aliceblue; position: relative; bottom: 60px; left: 20px; margin-right: 10px; border-radius: 4px; }
.second-content > ul { display: flex; }
li { list-style-type: none; word-spacing: 2px; }
.second-content > ul > li { margin-right: 22px; }
.second-content { padding: 10px 0px; }
.third-content { margin-bottom: 30px; }
.nasa-img { width: 90px; margin-top: 50px; }
    /* Style The Dropdown Button */
    .dropbtn {
        background-color: transparent;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
      }
      
      /* The container <div> - needed to position the dropdown content */
      .dropdown {
        position: relative;
        display: inline-block;
      }
      
      /* Dropdown Content (Hidden by Default) */
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: black;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }
      
      /* Links inside the dropdown */
      .dropdown-content a {
        color: white;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
      
      /* Change color of dropdown links on hover */
      .dropdown-content a:hover {background-color: black}
      
      /* Show the dropdown menu on hover */
      .dropdown:hover .dropdown-content {
        display: block;
      }
.header-div { background-color: black; text-transform: capitalize !important; } 
.dropbtn { text-transform: capitalize; }
.milo { font-size:20px; }
.milo-one { text-decoration: none; }
.header { background-color: black; }
.black { background-color: black; }